@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}


/* ---------- ESTILOS DE LOS BOTONES DE REGISTRARSE CON GOOGLE y TWITTER ---------- */

.container {
  margin: auto;
  gap: 20px;
  width: 450px;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  align-self: flex-start;
  display: flex;
  gap: 20px;
}

.google-btn {
  background-color: #1A73E8;
  color: white;
  border: none;
  border-radius: 4px;
  height: 40px;
  padding: 3px;

  /* Flexbox */
  display: flex;
  align-items: center;
}

.google-btn:hover {
  opacity: 0.75;
  cursor: pointer;
}

.google-btn picture {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 2px;

  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-btn picture img {
  width: 75%;
}

.google-btn span {
  color: white;
  font-weight: 500;
  padding: 15px;
}

.twitter-btn {
  color: #bbb;
  background-color: #eee;
  border: none;
  width: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.twitter-btn:hover {
  background-color: #ddd;
}

.twitter-btn picture img {
  width: 75%;
}


/* -----------ESTILOS DEL SEPARADOR  ------------- */

.separator {
  width: 100%;
  gap: 15px;

  /* Flexbox */
  display: flex;
}

.separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.separator span {
  color: #8b8b8b;
}

/* --------------- ESTILOS DEL FORMULARIO ----------------- */

form {
  gap: 30px;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sections-inputs {
  gap: 10px;
  width: 100%;

  /* Flexbox */
  display: flex;
}

label {
  gap: 5px;

  /* Flexbox */
  display: flex;
  flex-direction: column;
}

label span {
  font-weight: 700;
}

label input {
  width: 100%;
  background-color: #f3f3f4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  font-size: 14pt;
  transition: background-color 0.1s, border 0.2s, box-shadow 0.2s;
}

label input:hover {
  background-color: white;
  border: 1px solid #f3f3f4;
  box-shadow: 0 0 4px #eb50ff4f;
}

label input:focus {
  background-color: white;
  border: 1px solid #f3f3f4;
  box-shadow: 0 0 4px #eb50ff4f;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
}

.checkbox-label input[type="checkbox"] {
  width: 20px;
}

.checkbox-label span {
  font-weight: 400;
}

.submit-btn {
  background-color: #EA4C89;
  color: white;
  font-weight: 500;
  font-size: 14pt;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.75;
}

