*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
  display: block;
  margin: 80px auto 0;
  padding: 25px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.btn::before {
  content: "Pasa el mouse por encima";
  
}

.btn:hover {
  color: white;
  background-color: green;
}

.btn:hover::before{
  content: "";
}

.btn:hover:after {
  content: "----------- ¡Hecho! -----------";
}