/* Reseteo básico de estilos */
*{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Declaración de variables con la pseudoclase :root */
:root{
  --color-principal: rgb(54, 197, 240);
  --color-elemento1: rgb(236, 178, 46);
  --color-elemento2: rgb(224, 30, 90);
  --color-elemento3: rgb(46, 182, 125);
  --tamaño-fuente1: 1rem;
  --tamaño-fuente2: 0.8rem;
}

.container {
  /* background-color: green; */
  width: 100vw;
  height: 100vh;

  /* Ubicamos los elementos hijos (seccion-principal y barra-lateral) */
  display: flex;
  flex-direction: row-reverse;
}

.seccion-principal {
  margin: 0.6rem 15px 0.6rem 0.6rem;
  width: 75vw;
  background-color: var(--color-principal);
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: var(--tamaño-fuente1);

  /* Centramos el elemento span */
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-lateral {
  /* background-color: yellow; */
  width: 25vw;
  margin-left: 15px;
  height: 100vh;

  /* Ubicamos los elementos hijos (elements) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elements {
  margin: 0.6rem ;
  width: 95%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  text-transform: uppercase;
  font-size: var(--tamaño-fuente1);

  /* Centramos los elementos span */
  display: flex;
  justify-content: center;
  align-items: center;
}

.element1 {
  background-color: var(--color-elemento1);
}

.element2 {
  background-color: var(--color-elemento2);
}

.element3 {
  background-color: var(--color-elemento3);
}


/* ---------- MEDIAQUERIES - RESPONSIVE WEB DESIGN ---------- */

@media (max-width: 640px) {
  .container {
    /* background-color: rgb(125, 166, 188); */
    width: 100vw;
    height: 100vh;
    padding: 10px;
    margin: 0;
    gap: 10px;

    /* Ubicamos los elementos hijos (seccion-principal y barra-lateral) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .seccion-principal {
    width: 100%;
    height: 80%;
    margin: 0;
  }

  .barra-lateral {
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20%;
    gap: 0.6rem;
    
    /* Ubicamos los elementos hijos (elements) */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }

  .elements {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 100%;
    
    /* Centramos los elementos span */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .elements span {
    font-size: var(--tamaño-fuente2);
  }
}


