* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* En la pseudoclase :root es donde se definen las variables */
:root {
  --color-principal: rgb(195, 0, 255);
  --ancho-principal: 350px;
}

.titulo {
  color: var(--color-principal);
}

.footer {
  color: var(--color-principal);
}

.container {
  background-color: antiquewhite;
  padding: 1rem;
  max-width: var(--ancho-principal);
}
